<footer class="site-footer">
    <div class="container">
      

      <div class="row">
        <div class="col-md-4">
          <h3 class="footer-heading mb-4 text-white">About</h3>
          <p>Our hotel like Metro front city hotel offers Luxury touches that echo the
            essence of what you want as a traveller comfort, service and beauty for all five senses.The Olessia Hotel features 3 Deluxe Rooms and 26 Standard Rooms.</p>
          <p><a href="{% url 'website_url:about_us' %}" class="btn btn-primary pill text-white px-4">Read More</a></p>
        </div>
<!--         <div class="col-md-6">
          <div class="row"> 
            <div class="col-md-6">
              <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                <ul class="list-unstyled">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Approach</a></li>
                  <li><a href="#">Sustainability</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-6">
              <h3 class="footer-heading mb-4 text-white">Ministries</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Children</a></li>
                  <li><a href="#">Women</a></li>
                  <li><a href="#">Study</a></li>
                  <li><a href="#">Church</a></li>
                  <li><a href="#">Mosque</a></li>
                  <li><a href="#">Temple</a></li>
                </ul>
            </div>
          </div>
        </div> -->

        
        <div class="col-md-2">
          <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Social Icons</h3></div>
            <div class="col-md-12">
              <p>
                <a href="https://www.facebook.com/olessia123" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                <a href="https://twitter.com/HotelOlessia" class="p-2"><span class="icon-twitter"></span></a>
                <a href="https://www.instagram.com/olessia_hotel/?hl=en" class="p-2"><span class="icon-instagram"></span></a>
                <a href="#" class="p-2"><span class="icon-vimeo"></span></a>

              </p>
            </div>
        </div>
      </div>
      <!-- <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <!-- Copyright &copy; <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All Rights Reserved | This template is made with <i class="icon-heart text-primary" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
        
      </div>
    </div>
  </footer>