	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/03/2020 06:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-wifi:before { content: "\f100"; }
.flaticon-laundry:before { content: "\f101"; }
.flaticon-led-tv:before { content: "\f102"; }
.flaticon-car:before { content: "\f103"; }
.flaticon-thermo:before { content: "\f104"; }
.flaticon-kitchen:before { content: "\f105"; }
.flaticon-tourism:before { content: "\f106"; }