{% extends "../base.html" %}
{% block content %}
{% load static %}
{% include "../common/header.html" %}      
    <div class="site-blocks-cover overlay" style="background-image: url({% static 'images/kochi.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center"> 
            <div class="col-md-7 text-center" data-aos="fade">
              <span class="caption mb-3">Suites Hotel &amp; Restaurent</span>
              <h1 class="mb-4">About Us</h1>
            </div>
          </div>
        </div>
      </div>  
 
    
    <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <!-- <div class="col-md-6 mb-5 mb-md-0">
            
              <div class="img-border">
                <a href="https://vimeo.com/28959265" class="popup-vimeo image-play">
                  <span class="icon-wrap">
                    <span class="icon icon-play"></span>
                  </span>
                  <img src="{% static 'images/img_2.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>

              <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid image-absolute">
            
          </div>  -->
          <div class="col-md-5 ml-auto">
            

            <div class="section-heading text-left">
              <h2 class="mb-5">About Us</h2>
            </div>
            <p class="mb-4">Our hotel like Metro front city hotel offers Luxury touches that echo the
            essence of what you want as a traveler comfort, service and beauty for all five senses.The Olessia Hotel features 3 Deluxe Rooms and 26 Standard Rooms.Every facility required for comfortable living on hand.From the Door man and the Resident services desk that warmly greet the guest  and remain committed to provide with state of art facilities.<br>
            Olessia Hotel Ernakulam located in the prestige central business district of Kerala, Cochin.
            Just step away from major Metro Station,Railway Station and Bus stand.While the Javaharlal Nehru Stadium  near 500 m drive away,Fort Kochi 17km,Lulu Mall 4km and Cochin International Airport 26 km drive away from here....
            For more inquiry please email us @ <a href="#">reservation@olessiahotel.com</a> or call us @ <a href="#">+91484 4853888</a>
              </p>
          </div>
        </div>
      </div>
    </div>


<!--     <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Hotel Staffs</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid"></a>
              <div class="p-4">
                <h3 class="heading mb-3"><a href="#">Angella Lopez</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.</p>
                <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid"></a>
              <div class="p-4">
              <h3 class="heading mb-3"><a href="#">Marina Stalks</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.</p>
              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="{% static 'images/person_3.jpg' %}" alt="Image" class="img-fluid"></a>
              <div class="p-4">
              <h3 class="heading mb-3"><a href="#">Ethan Hoover</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.</p>
              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="{% static 'images/person_4.jpg' %}" alt="Image" class="img-fluid"></a>
              <div class="p-4">
              <h3 class="heading mb-3"><a href="#">Megan Pearson</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.</p>
              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid"></a>
              <div class="p-4">
              <h3 class="heading mb-3"><a href="#">Cristine Smith</a></h3> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.</p>
              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid"></a>
              <div class="p-4">
              <h3 class="heading mb-3"><a href="#">Marina Stalks</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.</p>
              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->


    <!-- <div class="py-5 upcoming-events" style="background-image: url({% static 'images/hero_1.jpg' %}); background-attachment: fixed;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h2 class="text-white">Summer Promo 50% Off</h2>
            <a href="#" class="text-white btn btn-outline-warning rounded-0 text-uppercase">Avail Now</a>
          </div>
          <div class="col-md-6">
            <span class="caption">The Promo will start in</span>
            <div id="date-countdown"></div>    
          </div>
        </div>
        
      </div>
    </div> -->
  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Hotel Features</h2>
          </div>
        </div> 
        <div class="row">
<!--           <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-pool display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Swimming Pool</h2>
            </div>
          </div> -->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-desk display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Hotel Teller</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-exit display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Fire Exit</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-parking display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Car Parking</h2>
            </div>
          </div>

<!--           <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-hair-dryer display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Hair Dryer</h2>
            </div>
          </div> -->

          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-drink display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Restaurent</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-minibar display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Hot Water</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-tv display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">LED TV 32</h2>
            </div>
          </div>
<!--           <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-drink display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Drinks</h2>
            </div>
          </div> -->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-cab display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Car Airport</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <!-- <span class="flaticon-tray display-3 mb-3 d-block text-primary"> -->
              <img width="100" heigh="100" src="{% static 'images/icons/wifi.png' %}">
              <h2 class="h5">Free WIFI</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <!-- <span class="flaticon-tray display-3 mb-3 d-block text-primary"></span>-->
              <img width="100" heigh="100" src="{% static 'images/icons/two-shirt.png' %}">
            <h2 class="h5">Laundry</h2>
            </div>
          </div>

          

          

          

        </div>
      </div>
    </div>


    <div class="site-section border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Our Gallery</h2>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="row no-gutters">
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/deluxe rooms/deluxeroom1.jpeg' %}" class="image-popup img-opacity"><img src="{% static 'images/deluxe rooms/deluxeroom1.jpeg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o14.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o14.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/deluxe rooms/deluxeroom4.jpeg' %}" class="image-popup img-opacity"><img src="{% static 'images/deluxe rooms/deluxeroom4.jpeg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o19.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o19.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>

          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o16.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o16.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o15.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o15.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o9.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o9.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o18.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o18.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>

          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o5.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o5.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o6.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o6.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% include '../common/footer.html' %}  
  {% endblock %} 