{% extends "../base.html" %}
{% block content %}
{% load static %}
{% include "../common/header.html" %}
   <div class="slide-one-item home-slider owl-carousel">
      
      <div class="site-blocks-cover overlay" style="background-image: url({%static 'images/slider1.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              
              <h1 class="mb-2">Welcome To Olessia</h1>
              <h2 class="caption">Hotel &amp; Restaurent</h2>
            </div>
          </div>
        </div> 
      </div>    

      <div class="site-blocks-cover overlay" style="background-image: url({%static 'images/deluxe rooms/deluxeroom1.jpeg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <h1 class="mb-2">Relaxing Room</h1>
              <h2 class="caption">Your Room, Your Stay</h2>
            </div>
          </div>
        </div>
      </div>  

      <div class="site-blocks-cover overlay" style="background-image: url({%static 'images/fooddemo.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">  
            <div class="col-md-7 text-center" data-aos="fade">
              <h1 class="mb-2">Pull up a chair. Take a taste</h1>
              <h2 class="caption">Come join us</h2>
            </div> 
          </div>
        </div>
      </div> 

    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Our Rooms</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="{% static 'images/deluxe rooms/deluxeroom1.jpeg' %}" class="d-block mb-0 thumbnail"><img src="{% static 'images/deluxe rooms/deluxeroom1.jpeg' %}" alt="Image" class="img-fluid"></a>
              <div class="hotel-room-body">
                <h3 class="heading mb-0"><a href="#">Deluxe Room</a></h3>
                <!-- <strong class="price">$400.00 / per night</strong> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="{% static 'images/deluxe rooms/deluxeroom4.jpeg' %}" class="d-block mb-0 thumbnail"><img src="{% static 'images/deluxe rooms/deluxeroom4.jpeg' %}" alt="Image" class="img-fluid"></a>
              <div class="hotel-room-body">
                <h3 class="heading mb-0"><a href="#">Deluxe Room</a></h3>
                <!-- <strong class="price">$200.00 / per night</strong> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="{% static 'images/olessia/o9.jpg' %}" class="d-block mb-0 thumbnail"><img src="{% static 'images/olessia/o9.jpg' %}" alt="Image" class="img-fluid"></a>
              <div class="hotel-room-body">
                <h3 class="heading mb-0"><a href="#">Standard Room</a></h3>
                <!-- <strong class="price">$200.00 / per night</strong> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- 
    <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 mb-5 mb-md-0">
            
              <div class="img-border">
                <a href="https://vimeo.com/28959265" class="popup-vimeo image-play">
                  <span class="icon-wrap">
                    <span class="icon icon-play"></span>
                  </span>
                  <img src="{% static 'images/img_2.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>

              <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid image-absolute">
            
          </div> -->
          <div class="col-md-5 ml-auto">
            

            <div class="section-heading text-left">
              <h2 class="mb-5">About Us</h2>
            </div>
            <p class="mb-4">Our hotel like Metro front city hotel offers Luxury touches that echo the
            essence of what you want as a traveler comfort, service and beauty for all five senses.The Olessia Hotel features 3 Deluxe Rooms and 26 Standard Rooms.Every facility required for comfortable living on hand.From the Door man and the Resident services desk that warmly greet the guest  and remain committed to provide with state of art facilities.<br>
            Olessia Hotel Ernakulam located in the prestige central business district of Kerala, Cochin.
            Just step away from major Metro Station,Railway Station and Bus stand.While the Javaharlal Nehru Stadium  near 500 m drive away,Fort Kochi 17km,Lulu Mall 4km and Cochin International Airport 26 km drive away from here....
            For more inquiry please email us @ <a href="#">reservation@olessiahotel.com</a> or call us @ <a href="#">+91484 4853888</a>
              </p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Hotel Features</h2>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-pool display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Swimming Pool</h2>
            </div>
          </div> -->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-desk display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Hotel Teller</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-exit display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Fire Exit</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-parking display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Car Parking</h2>
            </div>
          </div>

<!--           <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-hair-dryer display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Hair Dryer</h2>
            </div>
          </div> -->

          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-drink display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Restaurent</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-minibar display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Hot Water</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-tv display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">LED TV 32</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <span class="flaticon-cab display-3 mb-3 d-block text-primary"></span>
              <h2 class="h5">Car Airport</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <!-- <span class="flaticon-tray display-3 mb-3 d-block text-primary"> -->
              <img width="100" heigh="100" src="{% static 'images/icons/wifi.png' %}">
              <h2 class="h5">Free WIFI</h2>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="text-center p-4 item">
              <!-- <span class="flaticon-tray display-3 mb-3 d-block text-primary"></span>-->
              <img width="100" heigh="100" src="{% static 'images/icons/two-shirt.png' %}">
            <h2 class="h5">Laundry</h2>
            </div>
          </div>

          

          

          

        </div>
      </div>
    </div>
   
    <!--
    <div class="py-5 upcoming-events" style="background-image: url('images/hero_1.jpg'); background-attachment: fixed;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h2 class="text-white">Summer Promo 50% Off</h2>
            <a href="#" class="text-white btn btn-outline-warning rounded-0 text-uppercase">Avail Now</a>
          </div>
          <div class="col-md-6">
            <span class="caption">The Promo will start in</span>
            <div id="date-countdown"></div>    
          </div>
        </div>
        
      </div> 
    </div>
  -->

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Our Gallery</h2>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/deluxe rooms/deluxeroom1.jpeg' %}" class="image-popup img-opacity"><img src="{% static 'images/deluxe rooms/deluxeroom1.jpeg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o14.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o14.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/deluxe rooms/deluxeroom4.jpeg' %}" class="image-popup img-opacity"><img src="{% static 'images/deluxe rooms/deluxeroom4.jpeg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o19.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o19.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>

          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o16.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o16.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o15.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o15.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o9.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o9.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o18.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o18.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>

          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o5.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o5.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-md-6 col-lg-3">
            <a href="{% static 'images/olessia/o6.jpg' %}" class="image-popup img-opacity"><img src="{% static 'images/olessia/o6.jpg' %}" alt="Image" class="img-fluid"></a>
          </div>
        </div>
      </div>
    </div>
    


<!--     <div class="site-section block-15">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2>Upcoming Events</h2>
          </div>
        </div>


        <div class="nonloop-block-15 owl-carousel">
          

            <div class="media-with-text p-md-5">
              <div class="img-border-sm mb-4">
                <a href="{% static 'images/img_1.jpg' %}" class="popup-vimeo image-play">
                  <img src="{% static 'images/img_1.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
              <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
            </div>
          
            <div class="media-with-text p-md-4">
              <div class="img-border-sm mb-4">
                <a href="{% static 'images/img_2.jpg' %}" class="popup-vimeo image-play">
                  <img src="{% static 'images/img_2.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
              <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
            </div>
          
            <div class="media-with-text p-md-4">
              <div class="img-border-sm mb-4">
                <a href="{% static 'images/img_3.jpg' %}" class="popup-vimeo image-play">
                  <img src="{% static 'images/img_3.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
              <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
            </div>

            <div class="media-with-text p-md-4">
              <div class="img-border-sm mb-4">
                <a href="{% static 'images/img_1.jpg' %}" class="popup-vimeo image-play">
                  <img src="{% static 'images/img_1.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
              <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
            </div>
          
            <div class="media-with-text p-md-4">
              <div class="img-border-sm mb-4">
                <a href="{% static 'images/img_2.jpg' %}" class="popup-vimeo image-play">
                  <img src="{% static 'images/img_2.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
              <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
            </div>
          
            <div class="media-with-text p-md-4">
              <div class="img-border-sm mb-4">
                <a href="#" class="popup-vimeo image-play">
                  <img src="{% static 'images/img_3.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
              <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
            </div>
            
            <div class="media-with-text p-md-4">
              <div class="img-border-sm mb-4">
                <a href="{% static 'images/img_1.jpg' %}" class="popup-vimeo image-play">
                  <img src="{% static 'images/img_1.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
              <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
            </div>
          
            <div class="media-with-text p-md-4">
              <div class="img-border-sm mb-4">
                <a href="{% static 'images/img_2.jpg' %}" class="popup-vimeo image-play">
                  <img src="{% static 'images/img_2.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
              <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
            </div>
          
            <div class="media-with-text p-md-4">
              <div class="img-border-sm mb-4">
                <a href="{% static 'images/img_3.jpg' %}" class="popup-vimeo image-play">
                  <img src="{% static 'images/img_3.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
              <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
            </div>
          


        </div>

      </div>
    </div> -->


    <div class="site-section block-14 bg-light">

      <div class="container">
        
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2>What People Say</h2>
          </div>
        </div>

        <div class="nonloop-block-14 owl-carousel">
          
          <div class="p-4">
            <div class="d-flex block-testimony">
              <div class="person mr-3">
                <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid rounded">
              </div>
              <div>
                <h2 class="h5">Katie Johnson</h2>
                <blockquote>&ldquo;Excellent hotel for stay really the staff of the hotel is very coopertive services of the hotel is awesome i am staying here from last 3 days and now i have extended my stay for 7 Days. I will recommend this hotel to all my freinds and family those who visit Kerala, Thanks Team Olessia !!!!!!!!! Neat and clean room!!&rdquo;</blockquote>
              </div>
            </div>
          </div>
          <div class="p-4">
            <div class="d-flex block-testimony">
              <div class="person mr-3">
                <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid rounded">
              </div>
              <div>
                <h2 class="h5">Jane Mars</h2>
                <blockquote>&ldquo;We had a great stay in the hotel.Location of the hotel is in the heart of the city.Metro Station situated near to this hotel and allso a Football stadium.Easy for sight seeing by using Ola/Uber,rickshaw or Metro.&rdquo;</blockquote>
              </div>
            </div>
          </div>
          <div class="p-4">
            <div class="d-flex block-testimony">
              <div class="person mr-3">
                <img src="{% static 'images/person_3.jpg' %}" alt="Image" class="img-fluid rounded">
              </div>
              <div>
                <h2 class="h5">Shane Holmes</h2>
                <blockquote>&ldquo;Complimentary Breafast was super tasty.Even the lunch and dinner ordered was delicious.Rooms were cleaned on daily basis.Staff was helpful.Highly recommended for families and groups&rdquo;</blockquote>
              </div>
            </div>
          </div>
          <div class="p-4">
            <div class="d-flex block-testimony">
              <div class="person mr-3">
                <img src="{% static 'images/person_4.jpg' %}" alt="Image" class="img-fluid rounded">
              </div>
              <div>
                <h2 class="h5">Mark Johnson</h2> 
                <blockquote>&ldquo;The staff was extremely welcoming and even did more than they were supposed to, they accepted me in very late at night , they let me keep the bags at the hotel even after my stay was over. Cool and really nice guys, will come back&rdquo;</blockquote>
              </div>
            </div>
          </div>

        </div>

      </div>
      
    </div>
    
    <div class="py-5 quick-contact-info">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <div>
              <a href="https://goo.gl/maps/gCeeucnwwp6dbJt26">
              <span class="icon-room text-white h2 d-block"></span>
              </a>
              <h2>Address</h2>
              <p class="mb-0">Olessia Hotel - Near Lenin Center <br>  Kaloor - Cochin <br> Pin :682017</p>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div>
              <span class="icon-clock-o text-white h2 d-block"></span>
              <h2>Service Times</h2>
              <p class="mb-0">Sunday to Saturday  <br>
              6:00AM - 6:00AM <br>
              24*7 Support</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div>
              <span class="icon-comments text-white h2 d-block"></span>
              <h2>Get In Touch</h2>
              <p class="mb-0">Email: reservation@olessiahotel.com <br>
              Phone: +91484 4853888</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include '../common/footer.html' %}  
{% endblock %}  